/**
 * Styles applied when media="screen and (min-width: 320px) and (max-width: 1024px)"
 */

#mediateller:after {
	content: "Mobile Nav (320px - 1024px";
}

#mediateller {
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 2px 6px;
	text-align: right;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.1);
}

/*
 * Styles overiding Skeleton - tools/skeleton/stylesheets
 */
h1 {
	font-size: 24px;
	line-height: 24px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	/*margin-bottom: 0px;*/
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	width: 100%;
	margin-bottom: 4px;
}

/*
 * Styles overriding the Mmenu styles - mmenu.css
 * (sliding lateral menus)
 */
.mm-menu {
	background-color: orange;
}

.mm-menu * {
	text-shadow: none;
}

#header a,
.header a {
	background: center center no-repeat transparent;
	background-image: url(../img/mimiGlyphs/19.png);

	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 10px;
}

#header a.user-settings,
.header a.user-settings {
	left: auto;
	right: 10px;
	background-image: url(../img/mimiGlyphs/13-inverted.png);
	top: -36px;
}

.mm-menu a {
	color: #666666;
}

.mm-menu > ul {
	padding: 0px;
}

.mm-menu li.mm-label {
	background-color: #000000;
	color: #FFA500;
	font-size: 12px;
	text-shadow: none;
	font-size: 16px;
	line-height: 40px;
}

.mm-menu li, .mm-menu li > a, .mm-menu li > span {
	color: black;
	text-indent: 0px;
}

.mm-menu a.mm-subopen:after, .mm-menu a.mm-subclose:before {
	border-color: inherit;
}

.mm-menu a.mm-subclose {
	text-transform: uppercase;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
	color: orange;
}

.mm-menu li > a {
	padding-right: 32px;
}

.mm-menu li span {
	height: 40px;
}

.mm-menu li.hasChildren span {
	padding-left: 32px;
}

.mm-menu a.mm-subopen + span {
	padding-left: 45px;
}

.mm-menu a.mm-subopen:hover + span {
	background-color: rgba(0, 0, 0, 0.05);
}

.mm-menu li {
	height: 40px;
	border-bottom-width: 0px;
	line-height: 40px;
}

.mm-menu li.mm-subtitle {
	height: auto;
}

.mm-menu li.mm-subtitle:after {
	border-bottom-width: 0px;
}

.mm-menu li.mm-selected {
	background: transparent no-repeat 97% 50% url(../img/mimiGlyphs/54-full.png);
	cursor: pointer;
}

.mm-menu li.mm-unselected {
	background: transparent no-repeat 97% 50% url(../img/mimiGlyphs/54-empty.png);
	cursor: pointer;
}

.mm-menu li.label {
	height: auto;
	background-color: rgba(1, 1, 1, 0.2);
	line-height: 16px;
    padding: 2px 0 4px;
}

.mm-menu li.text {
	white-space: normal;
	line-height: 16px;
	height: auto;
}

.mm-menu li.text p {
	padding: 4px;
	margin-bottom: 0px;
}

.mm-menu form {
	margin-bottom: 0px;
}

.mm-menu li input[type="text"],
.mm-menu li input[type="password"] {
	background: orange no-repeat 100% 50% url(../img/mimiGlyphs/39.png);
	color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
	border: none;
	font-size: 16px;
	position: relative;
	margin-bottom: 0px;
}

.mm-menu li input[type="text"]:focus {
	color: black;
	background: orange none;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-shadow: none;
}

.mm-menu li input[type="password"] {
	background: rgba(255,220,255,0.25) no-repeat 98% 50% url(../img/mimiGlyphs/39.png);
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 3px;
	margin-top: 4px;
}

.mm-menu li input[type="password"]:focus {
	background: none;
	box-shadow: none;
}

/* Buttons for language options */
.mm-menu li input.language[type="button"] {
	vertical-align: middle;
	width: 30%;
}

.mm-menu li input.language[type="button"]:disabled {
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.5);
	border: none;
	text-shadow: none;
}

/* Buttons for setting actions */
.mm-menu li input.action[type="button"] {
	vertical-align: middle;
	width: 45%;
}

/*
 * Using the touch scrolling on capable devices,
 * styles used by js/vendor/overthrow.js
 */
.overthrow-enabled .overthrow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/*
 * Styles for Rodin specific content
 */
header[role="banner"] {
	width: 100%;
	background-color: black;
	padding: 6px 0px;
	display: block;
}

header h1#rodin-title {
	height: 28px;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: orange;
}

.rodin-message {
	width: 100%;
	padding: 3px 0px;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10;
}

.rodin-message-error {
	background-color: pink;
}

.rodin-message-info {
	background-color: lightgreen;
}

.rodin-message-debug {
	background-color: lightsteelblue;
}

/* Rodin search bar */
#global-search-query {
	border: none;
	box-shadow: none;
	border-radius: 8px;
	width: 75%;
	display: inline;
	margin: 1px 0 3px;
	font-size: 16px;
    padding: 4px 0;
    text-align: center;
}

#global-search-form {
	margin-bottom: 0px;
	line-height: 26px;
    vertical-align: top;
}

#global-search-form button {
	margin-bottom: 4px;
    vertical-align: bottom;
	background-color: rgba(255,255,255,0.25);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 1px solid rgba(255,255,255,0.5);
	height: 26px;
	width: 6%;
}

button#global-search-button {
	background-color: rgba(255,255,255,0.4);
	background-image: url(../img/mimiGlyphs/7.png);
	border-radius: 8px;
}

button#global-search-button.refresh {
	background-image: url(../img/mimiGlyphs/45.png);
}

#search-history {
	display: inline;
}

#history-back {
	background-color: rgba(255,255,0,0.4);
	background-image: url(../img/mimiGlyphs/15.png);
	border-radius: 8px 0px 0px 8px;
}

#history-forward {
	background-image: url(../img/mimiGlyphs/16.png);
	border-radius: 0px 8px 8px 0px;
}


/* Rodin subject expansion */
#rodin-expansion {
	background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    text-align: left;
    font-size: 14px;
}

#rodin-expansion header {
	background: transparent no-repeat 99% 40% url(../img/mimiGlyphs/44.png);
	margin: 6px 6px 0px;
	cursor: pointer;
}

#rodin-expansion ul {
	margin: 2px;
}

#rodin-expansion li {
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px 6px 6px 6px;
    float: left;
    line-height: 14px;
    margin: 3px 3px 1px 1px;
    padding: 4px;
}

#rodin-expansion li.selected {
	border: 2px solid orange;
	margin: 2px 2px 0px 0px;
}

/* - When Rodin subject expansion is closed */
#rodin-expansion.closed header {
	background-image: url(../img/mimiGlyphs/43.png);
	margin-bottom: 6px;
}

#rodin-expansion.closed ul {
	display: none;
}

/* - When Rodin suject expansion is unavailable */
#rodin-expansion.unavailable {
	display: none;
}

#rodin-expansion.unavailable header {
	background-image: none;
	cursor: default;
}

/**
 * Rodin results
 */

.full-width {
	width: 100%;
	padding: 2px 0px;
}

.rodin-result {
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 6px;
	padding: 6px;
}

.rodin-result h1 {
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 0px;
	margin-bottom: 10px;
}

.rodin-result p {
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 14px;
	margin: 0px;
	margin-bottom: 10px;
}

.rodin-result p.summary,
.rodin-result p.content {
	padding: 0px 4px;
	font-style: italic;
}

.rodin-result p.authors:before {
    content: "By ";
}

.rodin-result p.publication .date:before {
    content: "Publication date: ";
}

.rodin-result p.publication {
    margin-bottom: 0px;
}

.rodin-result p.publication a {
	background-repeat: no-repeat;
	background-image: url(../img/mimiGlyphs/47.png);
	float: right;
	width: 16px;
	height: 16px;
}

.rodin-result .sources {
	text-align: right;
	padding: 0px 2px;
}

.rodin-result .sources img {
	border: 1px solid burlywood;
	padding: 2px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}
.universe-options {
	width: 100%;
}

