/**
 * Styles applied when media="screen and (min-width: 481px) and (max-width: 767px) 
 */

#mediateller:after {
	content: "Tablet (481px - 767px)";
}

#header a, .header a {
	left: 0px;
}

#header a.user-settings, .header a.user-settings {
	right: 0px;
}
